{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": true,
        "modules": false,
        "forceAllTransforms": true,
        "useBuiltIns": "usage",
        "targets": ">0.3%, last 1 version, not dead"
      }
    ]
  ]
}