const { exec } = require("child_process");
const path = require('path');
module.exports = function() {
    const pathToCore = '/absolute/path/to/pm/core';
    const package = path.basename(process.cwd());
    const cmd = `php artisan vendor:publish --tag=${package} --force`;
    exec(cmd, {cwd: pathToCore}, (error, stdout, stderr) => {
        console.log(stdout, error, stderr);
    });
}